<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fangxupeng.mapper.SpecMapper">
	<resultMap type="com.fangxupeng.hgshop.Spec" id="specMapper">
		<id property="id" column="id"></id>
		<result property="specName" column="spec_name"/>
		<collection property="option" column="id" select="selectOptions">
			<!-- <id property="id" column="id"></id>
			<result property="optionName" column="option_name"></result>
			<result property="specId" column="spec_id"></result> -->
		</collection>
	</resultMap>
	
	
	<select id="selectOptions" resultType="SpecOption">
		select id,option_name as optionName,spec_id as specId,orders
		from hg_spec_option where spec_id=#{value}
		
	</select>
	
	<select id="list" resultMap="specMapper">
		select * from hg_spec
		<where>
			<if test="value!=null and value!=''">
				and spec_name like concat('%',#{value},'%')
			</if>
		</where>
		order by id
	</select>
	
	<insert id="addSpec" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
		insert into hg_spec (spec_name) values(#{specName})
	</insert>
	
	<insert id="addOption">
		insert into hg_spec_option(option_name,spec_id,orders) values (#{optionName},#{specId},#{orders})
	</insert>
</mapper>